@model ReservationModel


<form asp- asp-controller="Home" asp-action="CreateReservation" method="post">
    <input required="required" type="text" class="form-control scan" placeholder="Name"
           asp-for="Name" />
 
    <input type="submit" class="model-close button btn btn-primary primary-btn"
           style="width:auto;" value="Add" />

</form>